body {
    font-family: Arial, sans-serif;
    background-color: #f5f1f1;
    color: #373737;
    margin: 0;
    padding: 0;
  }
  

  nav {
      background-color: #333;
      padding: 10px;
      
      position: fixed
  }
  nav h1{
    padding-left: 500px;
  }

  nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
  }

  nav ul li {
      float: left;
  }

  nav ul li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 20px;
      text-decoration: none;
  }

  nav ul li a:hover {
      background-color: #111;
  }

  nav::after {
      content: "";
      clear: both;
      display: table;
  }
  
  section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: rgb(35, 31, 31);
    border-radius: 5px;
  }
  
  h1, h2 {
    margin: 0 0 10px;
    color: #ddd;
    text-align: center;
  }
  
  footer {
    background-color:  #232326;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
    margin-left: 10px;
  }
  button{
    text-align: center;
    justify-content: center;
    display: block;
  }
  img{
    width: 200px;
  }
  .ordenar{
    display: flex;
    justify-content: center;
  }
  
  h2{
    background-color: rgb(200, 44, 44);
    margin-left: 800px;
    margin-right: 800px;
    border-radius: 10px;
  }
  .Biblioteca{
    background-color: #111;
    padding: 10px;
  }